 <div class="container">
        <div class="jumbotron">
            <h1>Google News Downloader </h1>


            <p class="lead">Uses Google News API to look for news stories worldwide </p>
        </div>
        <hr/>
        <h2>Step 1. Search for news related to your company:</h2>
        <div class="row search">
            <h4 class="col-sm-12">Geographic Search Criterias:</h4>
            <div class="col-sm-12">
                <label for="cities_CA">
                    <input type="radio" id="cities_CA" name="theme" value="CA" checked="checked" />Top CA Cities</label>
                <label for="cities_US">
                    <input type="radio" id="cities_US" name="theme" value="US" />Top US Cities</label>

                <span class="btn btn-info add-more">Add 10 more US Cities</span>
                <span class="btn btn-danger remove-more">Remove 10 US Cities</span>

                <h5 style="color:#27ae60">Current Searching Articles within:</h5><p class="current_cities"></p>
            </div>
        </div>


        <div class="row margin">
            <div class="col-sm-12">
            <span class="col-lg-2"></span>

            <input id="news-search" type="text" class="input-lg col-lg-7 col-sm-8" placeholder="Google News Search">
            <button id="search-button" class="btn btn-lg btn-success">
                Search
            </button></div>
        </div>
        <hr/>
        <h2>Step 2. Download results</h2>
        <div id="progress-container" class="progress" style='height:40px'>
            <a id="download-link">
                <div id="progress-bar" class="progress-bar progress-bar" style='font-size:1.5em; overflow:hidden; padding-top:5px'>
                    Testing
                </div>
            </a>
        </div>
        <div class="panel panel-default" style="height: 500px; overflow: auto;">
            <div class="panel-body">
                <table id="results-table" class="table table-striped table-fixed table-hover">
                    <thead>
                        <tr>
                            <th>URL</th>
                            <th>Title</th>
                            <th>Description</th>
                            <!-- <th>Region</th> -->
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>

            </div>
        </div>
        <h2>Step 3. Upload to <a href="http://wp.me/p2pmCq-gA#step3">Mechanical Turk</a> to get each reporter's email address</h2>
        <br>
        <br>
        <br>


    </div>